BOT_TOKEN=
DATABASE=database.db
ADMIN_IDS=
ENABLE_LOGGING=True
LOGGING_LEVEL=DEBUG
ENABLE_CAPTCHA=True
CAPTCHA_TIMEOUT=5
MAX_WARNINGS=3
ENABLE_INACTIVE_CLEANUP=True
INACTIVITY_DAYS=30
WELCOME_MESSAGE=Привет, {username}! Добро пожаловать в нашу группу.
# PLUGIN_DIR=plugins
# ADMIN_PLUGIN_DIR=plugins_admin
# SURVEY_PLUGIN_DIR=plugins_surveys
EXPORT_ENCRYPTION_KEY=

